@model FYPFinalKhanaGarKa.Models.ViewModels.ChefListViewModel
@{
    ViewData["Title"] = "Chef List";
}

@section Styles{
}

@Html.Partial("_PageTitlePartial", ViewData["Title"])
<!-- Content Start -->
<main class="main-content">

    <div class="container internal-body-container">
        <!-- Main container -->
        <div class="row">
            <!-- Main row -->
            <div class="col-md-12 restaurant-list-three">
                @if (Model.Find == false)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="item-block">
                                <h3 class="text-center">Sorry...</h3>
                                <p class="text-center">We donot find any chef in this Area</p>
                                <p class="text-center" style="margin: 20px"><a asp-controller="Home" asp-action="Index" class="btn btn-danger">Back To Homepage</a></p>
                            </div>
                        </div>
                    </div>

                }
                @if (Model.Find == false)
                {
                    <div class="row" style="margin-top:100px">
                        <div class="col-xs-12">
                            <div class="item-block">
                                <p class="text-center" style="margin-top:10px;margin-bottom:10px"><b>OTHER CHEFS IN THIS CITY</b></p>
                            </div>
                        </div>
                    </div>
                }
                @if (Model != null && Model.Chefs.Count() > 0)
                {
                    @foreach (var chef in Model.Chefs)
                    {
                        <!-- Single Chef detail -->
                        <div class="row">
                            <!-- Chef detail -->
                            <div class="col-xs-12">
                                <div class="item-block">
                                    <header>
                                        @if (chef.ImgUrl == null) { chef.ImgUrl = "/img/avatar.png"; }
                                        else { chef.ImgUrl = chef.ImgUrl; }
                                        <img src="@chef.ImgUrl.Replace(" ", string.Empty)" alt="image" style="height:80px">
                                        <div class="hgroup">
                                            <h4>
                                                <a href="#">@chef.FirstName @chef.LastName</a> &nbsp; &nbsp;
                                                @if (chef.Category == 7)
                                                {
                                                    <span class="label label-warning">&nbsp; Popular &nbsp;</span>
                                                }
                                                else if (chef.Category == 5)
                                                {
                                                    <span class="label label-success">&nbsp; Special &nbsp;</span>

                                                }
                                                else if (chef.Category == 3)
                                                {
                                                    <span class="label label-danger">&nbsp; New &nbsp;</span>

                                                }
                                            </h4>
                                        </div>
                                        <div class="header-meta">
                                            <span class="location">@chef.City @chef.Area @chef.Street</span>
                                        </div>
                                    </header>
                                    <div class="item-body">
                                        <p>@chef.About</p>
                                    </div>
                                    <footer>
                                        <p class="status"><strong>Min:</strong> Rs 300</p>
                                        <p class="status"><strong>Delivery:</strong> 90 min</p>
                                        <p class="status">
                                            <span>
                                                @for (int i = 0; i < chef.Rating; i++)
                                                {
                                                    <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                                }
                                                @for (int i = 0; i < 5 - chef.Rating; i++)
                                                {
                                                    <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                                }
                                                <span class="review">
                                                    (<span>@chef.Orders</span>)
                                                </span>
                                            </span>
                                        </p>
                                        <div class="action-btn">
                                            <a class="btn btn-xs btn-danger" href="Order/index/@chef.ChefId">Check Menu</a>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <!-- END Chef detail -->
                        </div>
                        <!-- End Single Chef detail -->
                    }
                }
            </div>
        </div>
        <!-- Main row end -->
    </div>
    <!-- Main container end -->
</main>
<!-- Content End -->
