@model IEnumerable<FYPFinalKhanaGarKa.Models.Orders>
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>New Tasks!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>New Orders!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
            <!-- /.row -->
        <div class="row">
            <table class="table table-bordered table-hover table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SpReq)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Area)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Street)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeliveryCharges)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Received)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ChefId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeliveryBoyId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Confirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Canceled)
                        </th>
                        <th>
                            Delivery Day
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OrderId</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @if (item.OrderStatus == true)
                                {
                                    <span>Delivered</span>
                                }
                                else
                                {
                                    <span>Pending</span>
                                }
                            </td>
                            <td>
                                @if (item.OrderType == true)
                                {
                                    <span>Delivery</span>
                                }
                                else
                                {
                                    <span>Collection</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpReq)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Street)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCharges)
                            </td>
                            <td>
                                @if (item.Received == true)
                                {
                                    <span>Received</span>
                                }
                                else
                                {
                                    <span>Not Recieved</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChefId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryBoyId)
                            </td>
                            <td>
                                @if (item.Confirmed == true)
                                {
                                    <span>Confirmed</span>
                                }
                                else
                                {
                                    <span>Pending</span>
                                }
                            </td>
                            <td>
                                @if (item.Canceled == true)
                                {
                                    <span>Cancelled</span>
                                }
                                else
                                {
                                    <span>Pending</span>
                                }
                            </td>
                            <td>
                                @if (item.DeliveryDay == 1 && item.DeliveryTime != "")
                                {
                                    <span>Today @item.DeliveryTime</span>

                                }
                                else if (item.DeliveryDay == 2 && item.DeliveryTime != "")
                                {
                                    <span>Tomorrow @item.DeliveryTime</span>

                                }
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}