@model FYPFinalKhanaGarKa.Models.ViewModels.OrderDetailViewModel
@using FYPFinalKhanaGarKa.Models.ViewModels;
@using FYPFinalKhanaGarKa.Controllers;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}

@section Styles{
    <link href="~/css/order-online.css" rel="stylesheet" />
}

@Html.Partial("_PageTitlePartial", ViewData["Title"])
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <section class="cfo-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 account-cfoinfo clearfix">
                    <div class="cfoaccount">
                        <ul class="list-unstyled">
                            <li><a href="/Home/ModifyDetails/"><i class="fa fa-home" aria-hidden="true"></i> My Account</a></li>
                            <li><a href="/Order/History/"><i class="fa fa-history" aria-hidden="true"></i> Order History</a></li>
                        </ul>
                    </div>
                    <!-- END OF Myaccount menu  -->
                    <!-- End of account cfoInfo -->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="cfoorder-info table-responsive">
                        <h2>My order details</h2>
                        <table class="table">
                            <tbody>
                                <tr class="orderth-title">
                                    <th>Chef name</th>
                                    <th>Order date</th>
                                    <th>Order type</th>
                                    <th>Payment method</th>
                                    <th>Order status</th>
                                </tr>
                                <tr class="orderdata-title">
                                    <td>@Model.FirstName @Model.LastName</td>
                                    <td>@Model.OrderDate</td>
                                    @if (Model.OrderStatus == true)
                                    {
                                        <td>Delivery</td>

                                    }
                                    else
                                    {
                                        <td>Collection</td>

                                    }
                                    <td>Cash</td>
                                    @if (string.Equals(HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").Role, "Customer", StringComparison.OrdinalIgnoreCase))
                                    {
                                        if (Model.Confirmed == true)
                                        {
                                            if (Model.Received == true)
                                            {
                                                <td>Received</td>
                                            }
                                            else
                                            {
                                                <td><button data-o="@Model.OrderId" class="btn btn-danger btn-xs order-receive-btn">Received</button></td>
                                            }
                                        }
                                    }
                                    @if (string.Equals(HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").Role, "Chef", StringComparison.OrdinalIgnoreCase))
                                    {
                                        if (Model.Confirmed)
                                        {
                                            if (Model.OrderStatus == true)
                                            {
                                                <td>Dispatched</td>
                                            }
                                            else
                                            {
                                                <td><button data-o="@Model.OrderId" class="btn btn-danger btn-xs order-deliver-btn">Dispatch</button></td>
                                            }
                                        }
                                        else
                                        {
                                            <td><button data-o="@Model.OrderId" class="btn btn-success btn-xs order-confirm-btn">Confirm</button></td>

                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="contact-details order-history">
                        <div class="account-table cfoorder-details">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="orderh-title">
                                        <th>Dish name</th>
                                        <th>Date</th>
                                        <th class="pay-th">Quantity</th>
                                        <th class="file-th">Dish ordered price</th>
                                    </tr>
                                    @foreach (var dishs in Model.Orderline)
                                    {
                                        <tr class="orderdata-title">
                                            <td>@dishs.Name</td>
                                            <td>@Model.OrderDate</td>
                                            <td class="pay">@dishs.Quantity</td>
                                            <td class="pay">@dishs.Price</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div class="orderhistory-total clearfix">
                                <h2><span class="total-title">Total</span> <span class="amount">@Model.Orderline.Sum(i => i.Price)</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- END OF CONTACT DETAILS SECTION -->
                </div>
            </div>
        </div>
    </section>

    <!-- Main container end -->
</main>
<!-- Content End -->
@section scripts{
<script src="~/js/site.js"></script>

}
