@model FYPFinalKhanaGarKa.Models.ViewModels.ChefAccountViewModel
@using FYPFinalKhanaGarKa.Controllers;
@using FYPFinalKhanaGarKa.Models.ViewModels;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
    int cid = 0;
    if (Model.Menu.Count() > 0)
    {
        cid = Model.ChefId;
    }
}

@section Styles{
    <link href="~/css/order-online.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
}

<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>
                            @for (int i = 0; i < Model.Rating; i++)
                            {
                                <span style="color: #FFC107;"><i class="fa fa-star fa-lg"></i></span>
                            }
                            @for (int i = 0; i < 5 - Model.Rating; i++)
                            {
                                <span style="color: #CCCCCC;"><i class="fa fa-star fa-lg"></i></span>
                            }
                        </h6>
                        <h2 class="page-title">@Model.FirstName @Model.LastName</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h4 style="color:white">@Model.Orders Orders Delivered</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <!-- Start order-online-->
    <div id="order-online">
        <div class="container">
            <!-- start order online header top -->
            <div class="row order-online-top-header margin-right-zero">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-pad">
                    <div class="orderonline-search clearfix">
                        <div class="openclose-message">
                            <p>Enjoy my Menu? Please,Rate Me!<span id="rateYo" data-c="@Model.ChefId"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end order online header top -->

            <div class="order-inner-content">
                <div class="row">
                    <!-- start category content all -->
                    <div class="col-md-9">
                        <div class="ui-order-online-left-side">
                            <div class="row order-online-tab-nav" id="order-online-tab-nav">
                                <div class="col-md-12">
                                    <ul class="list-inline list-unstyled">
                                        <li class="active">
                                            <a href="#" class="orderOnlineTab" id="orderonlineMenuTab"> Menu</a>
                                        </li>
                                        <li>
                                            <a href="#" class="orderOnlineTab" id="orderonlineOfferTab"> Offer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="left-content">
                                <!--menu content-->
                                <div class="orderonline-menu row">
                                    <!-- start category inner content all -->
                                    <div class="col-md-12 col-sm-12">
                                        <!-- start category single content -->
                                        <div class="category-dish-content">
                                            <div class="row">
                                                <div class="clearfix"></div>
                                                @if (Model.Menu != null && Model.Menu.Count() > 0)
                                                {
                                                    @foreach (var menus in Model.Menu)
                                                    {
                                                        <div class="col-md-12">
                                                            <div class="dish-content" data-name="@menus.DishName" data-price="@menus.Price" data-id="@menus.ChefId">
                                                                <div class="row" style="transition: all 0.50s ease-in-out">
                                                                    <div class="col-md-3 dish-img">
                                                                        @if (menus.ImgUrl == null) { menus.ImgUrl = "/img/foodimg/menuitem.jpg"; }
                                                                        <img class="img img-responsive img-thumbnail" alt="Image" src="@menus.ImgUrl" style="width:200px;height:120px;" />
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="dish-name">
                                                                            @menus.DishName &nbsp; &nbsp; <small>@menus.Serving Serving(s)</small> &nbsp;
                                                                            @if (menus.Status)
                                                                            {
                                                                                <span class="label label-warning"> On Demand </span>

                                                                            }
                                                                            else if (!menus.Status)
                                                                            {
                                                                                <span class="label label-success"> Avalible Today </span>

                                                                            }
                                                                        </div>
                                                                        <p>@menus.Description</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="dish-right-content">
                                                                            <div class="dish-price">@menus.Price pkr</div>
                                                                            <div class="text-right ui-order-btn">
                                                                                <a><i class="fa fa-plus addItemBtn"></i></a>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                            <div class="dish-rating" data-c="@Model.ChefId" data-m="@menus.MenuId">
                                                                                <span class="dish-like fa fa-thumbs-o-up"></span>
                                                                                <span class="dish-like-text">@menus.DishLike</span>
                                                                                <span class="dish-dislike fa fa-thumbs-o-down"></span>
                                                                                <span class="dish-dislike-text">@menus.DishDislike</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.dish-content -->
                                                        </div>
                                                        <!-- /.col-md-12 -->
                                                    }
                                                }
                                                else
                                                {
                                                    <div>
                                                        <h4 class="text-capitalize text-center">Sorry..</h4>
                                                        <p class="text-capitalize text-center">Do not have any Menu yet.</p>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                        <!-- end category single content -->

                                    </div>
                                    <!-- end category inner content all -->
                                </div>
                                <!-- end orderonline-menu -->
                                <!-- offer content -->
                                <div class="orderonline-offer row">
                                    <!-- start category inner content all -->
                                    <div class="col-md-12 col-sm-12">
                                        <!-- start category single content -->
                                        <div class="category-dish-content">

                                            <div class="row">
                                                <div class="clearfix"></div>
                                                @if (Model.Offer != null && Model.Offer.Count() > 0)
                                                {
                                                    @foreach (var offers in Model.Offer)
                                                    {
                                                        <div class="col-md-12">
                                                            <div class="dish-content" data-name="@offers.OfferName" data-price="@offers.Price" data-id="@offers.ChefId">
                                                                <div class="row" style="transition: all 0.50s ease-in-out">
                                                                    <div class="col-md-3 dish-img">
                                                                        @if (offers.ImgUrl == null) { offers.ImgUrl = "/img/foodimg/menuitem.jpg"; }
                                                                        <img class="img img-responsive img-thumbnail" alt="Image" src="@offers.ImgUrl" style="width:200px;height:120px;" />
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="dish-name">
                                                                            @offers.OfferName &nbsp; &nbsp; &nbsp;
                                                                            <span class="label label-danger"> until: @offers.EndDate.ToString("dd-MM-yyyy")</span>
                                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                            @if (offers.Percentage != null)
                                                                            {
                                                                                <span class="label label-success">- @offers.Percentage % &nbsp;</span>

                                                                            }
                                                                        </div>
                                                                        <p>@offers.Description</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="dish-right-content">
                                                                            <div class="dish-price">@offers.Price pkr</div>
                                                                            <div class="text-right ui-order-btn">
                                                                                <a><i class="fa fa-plus addItemBtn"></i></a>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.dish-content -->
                                                        </div>
                                                        <!-- /.col-md-12 -->
                                                    }
                                                }
                                                else
                                                {
                                                    <div>
                                                        <h4 class="text-capitalize text-center">Sorry..</h4>
                                                        <p class="text-capitalize text-center">Do not have any Offer yet.</p>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                        <!-- end category single content -->

                                    </div>
                                    <!-- end category inner content all -->
                                </div>
                                <!-- end orderonline-offer -->
                            </div>
                        </div>
                    </div>
                    <!-- end category content all -->
                    <!-- start cart content -->
                    <div class="col-md-3 ui-order-online-right-side">
                        <div class="mobile-order-online-cart-inner">
                            <div class="ui-order-policy">
                                <ul class="list-inline">
                                    <li>
                                        <input class="custom-radio-big" type="radio" name="order-policy" value="True" id="delivery"> <label for="delivery">Delivery</label>
                                    </li>
                                    <li>
                                        <input class="custom-radio-big" type="radio" name="order-policy" value="False" id="collection" checked> <label for="collection">Collection</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="right-sidebar-inner-content sticky-content-right-side">
                                <div class="cart-content">
                                    <div class="cfo-cart clearfix">
                                        <div class="cart-info">
                                            <h2>My Order</h2>
                                            <div class="cart-table">
                                                <table class="table table-striped">
                                                    <tbody id="cart"></tbody>
                                                </table>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="ui-order-description">
                                                <div class="row">
                                                    <div class="col-md-8 col-xs-8">
                                                        <p>Total: </p>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 text-right">
                                                        <span id="order-total-amount" class="order-total-amount"><span id="full_total_price">0</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cfo-checkoutarea">
                                                <button id="pro" class="btn btn-primary btn-block custom-checkout">Proceed to Checkout</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Order Info -->
                                </div>
                                <!-- end cart content -->
                                <div class="clearfix"></div>
                                <div class="min-off">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p>Delivery fee : </p>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    Rs20/km
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p>Delivery minimum : </p>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    Rs 300
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end cart content -->
                </div>
            </div>
        </div>
        <!--.container-->
    </div>
    <!--#order-online-->
    <!--end order-online-->
    <!-- Content End -->
    <!-- start mobile footer nav -->
    <nav class="navbar navbar-default navbar-fixed-bottom visible-xs visible-sm mobile-cart-nav">
        <div class="mobile-cart-inner-content">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="mobile-cart-item">
                        <a id="mobileCartToggle" href="#"><i class="fa fa-shopping-basket"></i><span id="cart-item"></span></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="mobile-total-amount">Total:<span id="total-cart-amount">0</span></div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a href="#" class="btn mobile-btn-checkout">Checkout</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end mobile footer nav -->
</main>
<!-- Content End -->

@section Scripts{
    <script src="~/js/order-online.js"></script>
    <script src="~/lib/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/lib/like-dislike/js/like-dislike.min.js"></script>
    @if (HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User") != null && 
        string.Equals(HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").Role,"customer",StringComparison.OrdinalIgnoreCase))
    {
        <script src="~/js/site.js"></script>
    }
    else { 
        <script>
            $("#rateYo").rateYo({
                rating: 0,
                readOnly: true,
                starWidth: "20px"
            });
            $('.dish-rating').click(function () { window.alert('Please, Login first'); });
        </script>
    }

    <script>
            $('#pro').click(function () {
                var prices = Detail.get_prices();
                var quantities = Detail.get_quantities();
                var type = Detail.get_orderType();
                var names = Detail.get_names();
                var cid = @cid;
                //loop to update values in prices array
                for (var i = 0; i < prices.length; i++) {
                    prices[i] = prices[i] * quantities[i];

                }

                var CartItems = [];
                for (var i = 0; i < prices.length; i++) {
                    var obj = {
                        Quantity: quantities[i],
                        Name: names[i],
                        Price: prices[i]
                    };
                    CartItems[i] = obj;
                }
                var sendJsonData = {
                    Total: Detail.get_total(),
                    OrderType: type,
                    Items: CartItems,
                    Cid: @cid
                };
                $.ajax({
                    url: '@Url.Action("PostJson", "Order")',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(sendJsonData),
                    success: function (data) {
                        if (data.state == 0) {
                            window.location.href = '@Url.Action("Process", "Order")';
                        }
                    }
                });
            });
    </script>
}
